body {
  margin:0;
  background: rgb(242, 236, 236);
}

.pycon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2ECEC;
  border-bottom: 2px solid #502526;
  padding: 10px 0 10px 10px
}

.pycon-header .header-left button{
  display: inline-block;
  color: #502526;
  border: 0;
  background: #d8cccc;
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.pycon-header .header-right{
  display: none
}

@media screen and (min-width:980px){
  .pycon-header{margin:10px 40px 0}
  .pycon-header .header-right{display:block}
  .pycon-header .header-right div{display:inline-block;padding:0 16px}
  .pycon-header .header-right div img{width:24px}
}

.pycon-vulunteer{
  padding:0 40px 80px;
  background-color:#F2ECEC
}

.pycon-vulunteer h2{
  font-size:1.5rem;
  color:#502526;
  font-weight:normal;
  margin-bottom:10px;
  margin-left:12px
}

.pycon-vulunteer img{
  width:100%
}

.pycon-vulunteer ul{
  display:flex;
  padding:0;
  justify-content:center;
  margin-bottom:50px
}

.pycon-vulunteer ul li{
  list-style:none;
  padding:0 13px
}

.pycon-vulunteer ul li a{
  text-decoration:none;
  color:#502526;
  font-weight:normal;
  font-size:1.125rem;
}

.pycon-vulunteer button {
  position:absolute;
  right:0
}

@media screen and (min-width:980px){
  .pycon-vulunteer{margin:0 40px 0px;padding:40px 20px 80px}
  .pycon-vulunteer h2{margin-left:0}
}

.become_volunteer{
  color:#FBD9CA;
  background-color:#E23728;
  border:2px solid #E23728;
  text-decoration:none;
  transition:background 150ms linear,border 150ms linear;
  font-size:1.6rem;
  border-radius:35px;
  display:flex;
  align-items:center;
  text-align:center;
  justify-content:center;
  margin:0 40px;
  height:70px
}

@media screen and (min-width:980px){
  .become_volunteer{
    height:113px;width:510px;
    border-radius:57px;
    margin: 0 auto;
  }
}

.become_volunteer:hover {
  background-color: transparent;
  color: #E23728
}

.pycon-about{
  background-color:#ffffff;
  padding:80px 40px 80px 40px
}

.pycon-about h3{
  color:#502526;
  font-size:1.875rem;
  text-align:center;
  margin:24px 0
}

.pycon-about p{
  color:#333333;
  text-align:justify;
  line-height:2
}

@media screen and (min-width:980px){
  .pycon-about p{
    text-align:left;
    max-width:720px;
    margin:auto;
    margin-bottom:64px
  }
}

footer {
  background:#4e4b4b;
  padding:80px 0 10px
}

footer .pycon-footer-top{
  display:flex;
  align-items:center;
  flex-direction:column
}

footer .pycon-footer-top>ul{
  padding:0
}

footer .pycon-footer-top>ul li{
  list-style:none;
  line-height:48px;
  text-align:center
}

footer .pycon-footer-top>ul li a{
  color: #FFFFFF;
  text-decoration:none
}

footer .pycon-footer-top>ul li a:hover{
  color:#E23728
}

footer .pycon-footer-bottom{
  border-top:1px solid #FFFFFF;
  color:#FFFFFF;
  padding:8px 0 20px;
  text-align:center
}

.call_for_paper{
  color:#FBD9CA;
  background-color:#262626;
  border:2px solid #262626;
  text-decoration:none;
  transition:background 150ms linear,border 150ms linear;
  font-size:1.6rem;
  border-radius:35px;
  display:flex;
  align-items:center;
  text-align:center;
  justify-content:center;
  margin:0 40px;
  height:70px
}

@media screen and (min-width:980px){
  .call_for_paper{
    height:113px;width:510px;
    border-radius:57px;
    margin: 0 auto;
  }
}

.call_for_paper:hover {
  background-color: transparent;
  color: #000000
}

.index-action a {
  margin-top: 80px;
}

